<nav class="navbar navbar-expand-lg navbar-light navBar greenText navBarBorder" style="background-color: white;">
    <a class="navbar-brand d-flex align-items-center navBarTitle" href="./">Phlebor
        <!-- <img src="" width="60" height="60" class="d-inline-block align-top" alt="Phlebor_img"> Phlebor -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item dropdown mx-1">
                <a class="nav-link dropdown-toggle navButton d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Phlebotomist
                </a>
                <div class="dropdown-menu borderRadiusZero" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="./login">Login</a>
                    <a class="dropdown-item" href="./newDriver">Sign me up!</a>
                </div>
            </li>

            <li class="nav-item dropdown mx-1">
                <a class="nav-link dropdown-toggle navButton d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Client
                </a>
                <div class="dropdown-menu borderRadiusZero" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="./login">Login</a>
                    <a class="dropdown-item" href="./newClient">Sign me up!</a>
                </div>
            </li>
        </ul>
    </div>
</nav>