<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phlebor Client Login</title>
    <script defer src="../clientHome.js"></script>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="phlebor.css">


</head>

<body class="">
    <nav class="navbar navbar-expand-lg navbar-dark navBar greenText" style="background-color: #3bafa9;">
        <a class="navbar-brand d-flex align-items-center justify-content-center navBarTitleClientHome" href="./index">Phlebor
            <!-- <img src="" width="60" height="60" class="d-inline-block align-top" alt="Phlebor_img"> Phlebor -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse full-height" id="navbarNav">
            <ul class="navbar-nav full-height ml-auto navTitleMarginright">

                <li class="nav-item dropdown full-height ml-auto">
                    <a class="nav-link dropdown-toggle homeNavButton full-height d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Request a Phlebor</a>
                        <a class="dropdown-item" href="#">Past Requests</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Payment</a>
                        <a class="dropdown-item" href="./index">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



    <main>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <!-- <h3>Bootstrap Sidebar</h3> -->
                    <section class="img-cirlce">
                        <img src="../public/pictures/phleb1.jpg" class="rounded-circle">
                    </section>
                </div>

                <ul class="list-unstyled components">


                    <li>
                        <a href="#">Request a Phlebor</a>
                    </li>

                    <li>
                        <a href="#">Past Requests</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <a href="#">Payment</a>
                    </li>
                    <li>
                        <a href="./index">Log Out</a>
                    </li>
                </ul>





            </nav>
            <div id="content" class="fullRightSide ">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>

                    </div>
                </nav>
            </div>

        </div>


        <!-- <section> -->
        <!-- <div class="d-flex"> -->
        <!-- <div class="row">
                    <div class="col-4">
                        col-4
                    </div>
                    <div class="col-8">
                        col-8
                    </div>
                <section class="sidebar">argqetgw
                    <section class="sidebarTop">
                        <section class="img-cirlce"></section>
                        <img src="" class="rounded-circle">

                    </section>

                </section>

                <section class="fullRightSide">rgqergewtgwtg

                </section>
            </div> -->

        <!-- </section class="col"> -->


    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>