<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phlebor Client Login</title>
    <!-- <script defer src="../clientHomeEdit.js"></script> -->

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="phlebor.css">


</head>

<body class="">
    <nav class="navbar navbar-expand-lg navbar-dark navBar greenText" style="background-color: #123146;">
        <a class="navbar-brand d-flex align-items-center justify-content-center navBarTitle" href="./">Phlebor
            <!-- <img src="" width="60" height="60" class="d-inline-block align-top" alt="Phlebor_img"> Phlebor -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse full-height" id="navbarNav">
            <ul class="navbar-nav full-height ml-auto navTitleMarginright">

                <li class="nav-item dropdown full-height ml-auto">
                    <a class="nav-link dropdown-toggle homeNavButton full-height d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Request a Phlebor</a>
                        <a class="dropdown-item" href="#">Past Requests</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Payment</a>
                        <a class="dropdown-item" href="./">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



    <main>
        <!-- <div class="wrapper"> -->
        <div class="container-fluid">
            <!-- Sidebar -->
            <div class="row">

                <nav id="sidebar" class="col-3 px-0 d-flex flex-column">
                    <div class="sidebar-header d-flex align-items-center p-3">
                        <!-- <h3>Bootstrap Sidebar</h3> -->
                        <!-- <section class="img-cirlce"> -->
                        <img src="../pictures/edathisfinest.jpg" class="img img-fluid rounded-circle">
                        <!-- </section> -->
                    </div>

                    <ul class="list-unstyled components">

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="fas fa-user-md mr-2"></i>
                                Request a Phlebor</a>
                        </li>

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="fas fa-history mr-2"></i>
                                Past Requests</a>
                        </li>

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="fas fa-user mr-2"></i>
                                Profile</a>
                        </li>

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="fas fa-credit-card mr-2"></i>
                                Payment</a>
                        </li>

                        <li>
                            <a href="./" class="d-flex align-items-center">
                                <i class="fas fa-sign-out-alt mr-2"></i>
                                Log Out</a>
                        </li>
                    </ul>

                </nav>

                <div class="col-sm-12 col-md-9 px-0">

                    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <div class="container-fluid"> -->

                    <button type="button" id="sidebarCollapse" class="btn btn-info d-lg-none d-md-none">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>

                    <!-- </div>
                                    </nav> -->

                    <div class="row d-flex justify-content-center profileBackgroundColor mx-0">
                        <h1>Profile</h1>

                    </div>
                    <section class="profileFontSize ">
                        <div class="row mx-0 p-4 profileBorder">
                            <div class="col-2">
                                <b> Name </b>
                            </div>
                            <div class="col-2"> Ed </div>
                            <div class="col-2"> Pantzar</div>
                            <div class="col-2">
                                <b>Email</b>
                            </div>
                            <div class="col-2"> Ed@EddyAndTheJets.com</div>

                        </div>
                        <div class="row mx-0 p-4 d-flex align-items-center profileBorder">
                            <div class="col-2">
                                <b>Profile Picture</b>
                            </div>
                            <img src="../pictures/edathisfinest.jpg" class="imgSizing img-fluid col-3">
                            <div class="col-1"> </div>
                            <div class="col-2">
                                <b>Phone Number</b>
                            </div>
                            <div class="col"> (555) 555-5555</div>

                        </div>
                        <div class="row mx-0 px-4 py-5 profileBorder">
                            <div class="col-2">
                                <b>Username</b>
                            </div>
                            <div class="col-4"> DontCallMeFrEddy</div>
                            <div class="col-2">
                                <b> Age</b>
                            </div>
                            <div class="col-2"> 39</div>
                        </div>

                    </section>

                    <div class="row mx-0 p-4 profileBorder d-flex justify-content-center">
                        <a class="btn btn-primary" href="./clientHome." role="Edit">Save Changes</a>
                    </div>

                </div>
            </div>
        </div>



        



    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>