<% include partials/header %>



    <body class="">
        <% include partials/navBar %>

            <main class="backgroud-image">
                <section class="container">

                    <section class="full-height d-flex justify-content-md-center align-items-center flex-wrap-reverse">
                        <section class="textWidthFrontPage d-flex white-text mr-lg-5 mt-lg-2 flex-column">
                            <!-- <section class="white-text mr-lg-5 mt-lg-2 textWidthFrontPage"> -->
                                <h1 id="main-title" class="p-lg-2">Phlebor</h1>
                                <h3 class="p-lg-2">Quick, low-cost solution to dehydration</h3>
                                <section class="buttons p-2">
                                    <!-- <div> -->
                                        <a class="btn btn-secondary btn-outline-light" href='#'> Phlebotomist</a>
                                    <!-- </div> -->

                                    <!-- <div> -->
                                        <a class="btn btn-secondary btn-outline-light" href='#'> Client</a>
                                    <!-- </div> -->
                                </section>
                            <!-- </section> -->
                        </section>

                        <section class="widthMax justify-content-center d-flex d-md-block">
                            <img src="./pictures/ivanimated.png" class="frontPageCharacter ml-lg-5 mt-2" alt="ivanimated">
                        </section>

                    </section>

                </section>


            </main>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
    </body>

    </html>