<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phlebor Login</title>
    <script defer src="../login.js"></script>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="phlebor.css">


</head>

<body class="">
    <% include partials/navBar %>

        <main>
            <section class="container-fluid">
                <section class="row d-flex justify-content-center background-login">
                    <!-- <section class=""> -->
                    <section class="col-10 col-md-8 col-lg-4 p-0 pt-md-5">


                        <section class="d-flex justify-content-center">
                            <% if (error==='null' || error !== undefined || error!==null) {%>
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on bottom">
                                    <!-- <h1> -->
                                    <%=error%>
                                        <!-- </h1> -->
                                </button>
                                <%} else { %>
                                    <button type="button" class="btn btn-secondary d-block" data-toggle="tooltip" data-placement="right" title="Tooltip on bottom">
                                        <!-- <h1> -->
                                        <%=error%>
                                            <!-- </h1> -->
                                    </button>
                                    <%}%>

                        </section>
                        <div class="card-header p-0">

                            <h3 class="mb-0 white-text">Login</h3>

                        </div>
                        <div class="card-body d-flex justify-content-center p-0">
                            <form class="formMargin max-width" action="/login" method="POST">

                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-12">
                                        <label class="white-text" for="username">Username</label>
                                        <input type="text" class="form-control borderRadiusZero" name="username" id="inputUsername" placeholder="Username">

                                    </div>
                                </div>

                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-12">
                                        <label class="white-text" for="Password">Password</label>
                                        <section class="d-flex">
                                            <input type="password" class="form-control borderRadiusZero" name="password" id="inputPassword" placeholder="Password">
                                        </section>
                                    </div>
                                </div>

                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-primary max-width borderRadiusZero">Submit!</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!--/card-block-->
                    </section>


                    <!-- </section> -->

                    <!-- /form card login -->
                    <!-- </section> -->
                    <img class="cityIMG" src="../pictures/city-background.png" alt="city">
                </section>


            </section>


        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</body>

</html>