<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Client Sign Up Form</title>
    <!-- <script defer src="../newClient.js"></script> -->

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" type="text/css" href="../phlebor.css" />


</head>

<body class="background-new-client">
    <nav class="navbar navbar-expand-lg navbar-light navBar greenText" style="background-color: white;">
        <a class="navbar-brand d-flex align-items-center navBarTitle" href="./index">Phlebor
            <!-- <img src="" width="60" height="60" class="d-inline-block align-top" alt="Phlebor_img"> Phlebor -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse full-height" id="navbarNav">
            <ul class="navbar-nav full-height">

                <li class="nav-item dropdown full-height">
                    <a class="nav-link dropdown-toggle navButton full-height d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phlebotomist
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="./login">Login</a>
                        <a class="dropdown-item" href="./newDriver">Sign me up!</a>
                    </div>
                </li>

                <li class="nav-item dropdown full-height">
                    <a class="nav-link dropdown-toggle navButton full-height d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Client
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="./login">Login</a>
                        <a class="dropdown-item" href="./newClient">Sign me up!</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main>

        <!-- <section class="form-container"> -->


        <section class="pattern-background"></section>
        <section class="body-container">

            <section class="formMargin">

                <h1 class="d-flex justify-content-center">

                    <span>Sign up for IV delivery</span>
                </h1>
                <h2 class="d-flex justify-content-center">
                    <span>Fast, safe relief in minutes</span>
                </h2>
                <section class="d-flex justify-content-center">
                    <section class="form-container-login">
                        <form class="formMargin logInContainer" action="/newClient" method="POST">


                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10 form-actions">
                                    <a role="button" class="btn btn-dark justify-content-center" href='./login'>Already an existing member?</a>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10 noMargin">
                                    Try Phlebing
                                </div>
                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-5">
                                    <label for="first_name"></label>
                                    <input type="text" class="form-control" name="first_name" id="inputFirstName" placeholder="First name" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="last_name"></label>
                                    <input type="text" class="form-control" name="last_name" id="inputLastName" placeholder="Last Name" required>
                                </div>
                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10">
                                    <label for="phone_number"></label>
                                    <input type="tel" class="form-control" name="phone_number" id="inputPhoneNumber" placeholder="Phone Number" required>
                                </div>

                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" required>
                                </div>
                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10">
                                    <label for="username"></label>
                                    <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username" required>
                                </div>
                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10">
                                    <label for="password"></label>
                                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" required>
                                </div>
                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10">
                                    <label for="inputPrice"></label>
                                    <input type="password" class="form-control" name="vpassword" id="inputVPassword" placeholder="Verify Password" required>
                                </div>
                            </div>

                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-10">
                                    <button type="submit" class="btn btn-primary">Submit!</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </section>

                <!-- </section> -->

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>


<!-- <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
            Sign up for IV delivery Fast, Safe help in minutes

        </div>
    </div> -->