<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Client Sign Up to Phleb</title>
    <script defer src="../newDriver.js"></script>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="phlebor.css">

</head>


<body class="">
    <% include partials/navBar %>

        <main>
            <!-- <section class="background-new-client d-md-none"> -->
            <section class="background-new-driver">
            
                    <section id="overlay" class="">
                        <!-- <section>
            <h1>Sign up to deliver and conduct intravenous therapy!</h1>
            <h2>Help those in need with but a click of a mouse</h2>
        </section> -->

                        <!-- <div class="form-row justify-content-center"></div> -->


                        <section class="form-container d-flex justify-content-md-start justify-content-center">
                            <section class="signInBackgroundContainer formMargin">
                                <form class="formMargin" action="/newDriver" method="POST">

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10 form-actions">
                                            <a role="button" class="btn btn-dark justify-content-center borderRadiusZero" href='./login'>Already an existing member?</a>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10 noMargin">
                                            Try Phlebing
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-5">
                                            <label for="first_name"></label>
                                            <input type="text" class="form-control borderRadiusZero" name="first_name" id="inputName" placeholder="First name" required>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="last_name"></label>
                                            <input type="text" class="form-control borderRadiusZero" name="last_name" id="inputAge" placeholder="Last Name" required>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10">
                                            <label for="phone_number"></label>
                                            <input type="tel" class="form-control borderRadiusZero" name="phone_number" id="inputPhoneNumber" placeholder="Phone Number" required>
                                        </div>

                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10">
                                            <label for="email"></label>
                                            <input type="email" class="form-control borderRadiusZero" name="email" id="inputEmail" placeholder="Email" required>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10">
                                            <label for="username"></label>
                                            <input type="text" class="form-control borderRadiusZero" name="username" id="InputUsername" placeholder="Username" required>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10">
                                            <label for="password"></label>
                                            <input type="password" class="form-control borderRadiusZero" name="password" id="InputPassword" placeholder="Password" required>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10">
                                            <label for="vpassword"></label>
                                            <input type="password" class="form-control borderRadiusZero" name="vpassword" id="InputVPassword" placeholder="Verify Password" required>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-10">
                                            <button type="submit" class="btn btn-primary borderRadiusZero max-width">Submit!</button>
                                        </div>
                                    </div>

                                </form>
                            </section>
                        </section>
                    </section>
                </section>
            <!-- </section> -->


        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</body>

</html>