body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

h1,
h2,
h3 {
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.backgroud-image {
    background-color: #3bafa9;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 560px;
    min-height: 540px;
}

.background-new-client {
    background-color: #F1F1F1;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 560px;
    min-height: 540px;
    z-index: -1;
}

.background-new-driver {
    background-image: url("./pictures/maniv.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 560px;
    min-height: 540px;
}

.maxHeight {
    height: 100%;
}

.background-login {
    background-color: #e8175d;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 560px;
    min-height: 540px;
}

.pattern-background {
    background-image: url("./pictures/modernPattern.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 150px;
    min-width: 560px;
    z-index: 99;
}

#overlay {
    /* position: fixed; Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

main {
    /* margin: -75px; */
    padding: 0px;
    font-family: "Helvetica Neue";
    /* font-weight: 700; */
    height: 100%;
    /* min-width: 960px;
    min-height: 540px; */
}

.body-container {
    position: relative;
    width: 80%;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
    /* height: 100vh; */
    height: 100%;
}

.negativeMargin {
    margin-top: -75px;
}

.body-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    flex-wrap: wrap-reverse;
}

.frontPageCharacter {
    width: 500px;
    height: 500px;
}

/* .body-center {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}

.navBar {
    border-bottom: #17252b 1px solid;
    height: 70px;
    padding: 0px;
}

.navTitleMarginLeft {
    margin-left: 100px;
}

.navTitleMarginRight {
    margin-right: 100px;
}

.greenText {
    color: #3bafa9;
}

.white-text {
    color: white;
}

.full-height {
    height: 100%;
}

/* .navbar-dark .navbar-brand {
    color: white;
} */

.navbar-light .navbar-brand {
    color: #3bafa9;
}

a.navbar-brand {
    height: 100%;
}

.navbar-brand a {
    height: 100%;
}

.navBarTitle {
    font-size: 40px;
    padding: 0px;
    margin-left: 10px;
}

.navBarTitleClientHome {
    font-size: 40px;
    padding: 0px;
    margin-left: 100px;
}

/* .navBar>a {
    font-size: 40px;
    padding: 0px;
    margin-left: 10px;
} */

.nav.navbar-nav.navbar-right li a {
    color: #17252b;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(23, 37, 43, .5);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navButton {
    height: 100%;
    position: relative;
    color: #17252b;
    text-decoration: none;
    margin: 0px 5px;
}

.navButton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #17252b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navButton:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.homeNavButton {
    height: 100%;
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
}

.homeNavButton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.homeNavButton:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.buttons {
    display: flex;
    color: #17252b;
}

/* main a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

main a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0); 
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

.buttons a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  } */

.buttons a {
    margin: 20px 20px 20px 0px;
    color: white;
}

#main-title {
    font-size: 120px;
    font: "Helvetica Neue";
}

.bodySpacing {
    margin: 0px 0px 20px 0px;
}

.formMargin {
    margin-top: 20px;
}

.loginMargin {
    margin-top: 40px;
}

.login-container {
    width: 100%;
    position: relative;
    width: 350px;
    background-color: #F1F1F1;
}

.form-container {
    position: relative;
    width: 70%;
    margin: 0px auto 0px auto;
    height: 100%;
    display: table-row;
}

.form-container-login {
    position: relative;
    width: 350px;
    /* height: 100%; */
}

.signInBackgroundContainer {
    width: 350px;
    background-color: #F1F1F1;
    display: table;
}

.logInContainer {
    width: 100%;
    width: 350px;
}

.form-actions {
    text-align: center;
    width: 100%;
}

.noMargin {
    margin: 0px;
}

.sidebar {
    width: 300px;
    height: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
    border: 2px solid #efefef;
}

.sidebarTop {
    height: 180px;
    display: flex;
    align-items: center;
}



.wrapper {
    display: flex;
 
    align-items: stretch;
}


#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}







/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
} */

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
   
    background: #fff;
    color: #757575;
    transition: all 0.3s;
    border-right: 1px solid #eaeaea;
    min-width: 250px;
    /* height: 100%; */
    /* display: flex;
    justify-content: center;
    flex-direction: column; */

}

.profileBackgroundColor {
    background-color: #15959f;
    color: white;
    font-weight: 500;
    border-bottom: solid 1px #eaeaea;
}

.profileBorder {
    border-bottom: solid 1px #eaeaea;
}
.profileFontSize {
    font-size: 18px;
}

#sidebar .sidebar-header {
    /* background: #fafafa; */
    background: #fdfdfd;
    /* height: 300px; */
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul {
    border-top: solid 1px #eaeaea;
    height: 100%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #17252b;
    background: #dff2f1;
    border-left: solid #17252b 10px;
    font-weight: 700;
}

.sidebarFontWeight {
    color: #17252b;
    border-left: solid #17252b 5px;
    font-weight: 700;
}

#sidebar ul li a:active {
    color: white;
    background:  #2b7a78;
    border-left: solid white 10px;
    font-weight: 700;
}


.fullRightSide {
    height: 100%;
    width: 100%;
    background-color: #f9fafa;
}

/* #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
} */
/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
} */

.imgSizing {
    height: 150px; 
    width: 150px;
}